<footer role="contentinfo" class="footer">
  <div class="row">
    <div class="col left">
      <p>© 2026 - Site de développement conçu par Emmanuelle ABOAF</p>
    </div>
    <div class="col right">
      <p>
        <a href="https://github.com/emma11y/angular-aria/" target="_blank">
          <i class="fa-brands fa-github" aria-hidden="true"></i>
          <span class="sr-only">Sources sur GitHub (lien externe)</span>
        </a>
      </p>
      <div class="logo-shodo">
        <app-shodo></app-shodo>
        <p>SHODO</p>
      </div>
    </div>
  </div>
</footer>
